th { background: #71af5a; color: #fff; }
br.clear { width: 100%; height: 0; clear: both; }

pre,
.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
pre {
  border-radius: 4px;
  overflow: auto;
  padding: 4px;
  background: #202020;
}
pre code, pre code.js {
  background: transparent;
  color: inherit;
  line-height: 1.3em;
  outline: none;
  border: none;
}

pre::-webkit-scrollbar,
.highlight::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-track,
.highlight::-webkit-scrollbar-track {
  background-color: #333;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-corner,
.highlight::-webkit-scrollbar-corner {
  background: transparent;
}
pre::-webkit-scrollbar-thumb,
.highlight::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(156,217,107,0.7)), to(rgba(156,217,107,0.9)));
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

/* layout */

body {
  background: #ececec;
}

#post h2 {
  margin: 20px 0 10px;
}
#post h3 {
  margin: 15px 0 5px;
}
#post .panel-container h2,
#post .panel-container h3 {
  margin: 0;
}

.contained {
  margin-left: 250px;
}
#homepage .contained {
  margin: 0 auto;
  width: 1060px;
}

#headbar {
  width: 100%;
  background: url('/images/header_bg.png') repeat-x #000;
  border-bottom: solid 2px #00a50c;
  padding-bottom: 60px;
  min-width: 930px;
}

#tagbar {
  width: 100%;
  background: #fff;
  padding: 10px 0 15px;
  color: #333;
  border-top: solid 1px #007b09;
  border-bottom: solid 1px #ccc;
  min-width: 930px;
}

#title-and-share {
  padding: 90px 0 0 5%;
}

#download-and-share {
  float: right;
  margin-top: 12px;
  margin-right: 5%;
}
#download-and-share a {
  display: block;
}

#headbar h1 {
  display: block;
  text-decoration: none;
  font: 80px Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0px 1px #000, -6px 8px 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}
#built-by {
  display: block;
  float: right;
  padding: 20px;
  margin-top: 60px;
  margin-right: 5%;
  width: 400px;
  background: rgba(500,500,500,0.1);
  border: solid 1px #1e1e1e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#built-by h3 {
  color: #000;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  font-size: 22px;
  margin-bottom: 35px;
  line-height: 1.5em;
}
#built-by h3 span {
  display: block;
  font-size: 36px;
}

#tagbar h2 {
  font-size: 40px;
  margin: 15px 5% 20px;
}
#tagbar p {
  margin-left: 5%;
  width: 60%;
}

a.nav-links {
  background: rgba(0,0,0,0.5);
  padding: 7px 10px;
  color: #00a50c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
a.nav-links:hover {
  background: rgba(0,0,0,0.3);
}
#visit-site {
  float: right;
}
#visit-os {
  float: left;
}
#aj-logo {
  float: left;
  margin-right: 10px;
}

#content {
  margin-top: 35px;
  min-width: 600px;
}

.projects {
  margin: 40px 0;
}

.projects li {
  background: transparent;
  border: none;
  border-bottom: solid 1px #c0c0c0;
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: 0 3% 20px 0;
  padding-bottom: 20px;
  zoom:1; *display:inline;
}
.project-tile {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.project-tile.js {
  border: solid 1px #00ff13;

  background: #34A0D2; /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#00ff13), to(#00a50c), color-stop(250%, #00d50f), color-stop(500%, #00a50c)); /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #00ff13 0%, #00d50f 250%, #00a50c 500%); /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #00ff13 0%, #00d50f 250%, #00a50c 500%);
  background-image: -ms-radial-gradient(center center, circle contain, #00ff13 0%, #00d50f 250%, #00a50c 500%); /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #00ff13 0%, #00d50f 250%, #00a50c 500%); /* Opera (13?) */
  background-image: radial-gradient(center center, circle contain, #00ff13 0%, #00d50f 250%, #00a50c 500%); /* standard syntax */
}
.project-tile.ruby {
  border: solid 1px #00a50c;

  background: #008d0a;
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#00a50c), to(#007308), color-stop(250%, #008d0a), color-stop(500%, #007308)); /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 700%); /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 500%);
  background-image: -moz-radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 500%);
  background-image: -ms-radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 500%); /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 500%); /* Opera (13?) */
  background-image: radial-gradient(center center, circle contain, #00a50c 0%, #008d0a 250%, #007308 500%); /* standard syntax */
}
.project-tile a {
  display: block;
  padding: 40px 15px;
  font-size: 24px;
  font-weight: bold;
}
.project-tile.js a, li.js .homepage-tagline {
  color: #009a0b;
}
.project-tile.ruby a, li.ruby .homepage-tagline {
  color: #006407;
}

.projects li a.btn {
  color: #000;
}
.projects li a.btn.primary {
  color: #fff;
}

.project-tile span {
  float: right;
  font-size: 40px;
  padding-top: 35px;
  margin-right: 15px;
  font-weight: bold;
  height: 75px;
}
.project-tile.js span {
  color: #00b30d;
}
.project-tile.ruby span {
  color: #007308;
}
.project-info {
  height: 200px;
}

.homepage-tagline {
  font-weight: bold;
  font-style: italic;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

#sidebar {
  float: right;
  width: 25%;
  margin-right: 5%;
}
.large-button {
  width: 235px;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  line-height: 24px;
}
.large-button img {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
#twitter-button {
  font-weight: normal;
}

#resources {
  padding-bottom: 20px;
}

#sidebar .bar {
  background: #fff;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

.sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #ececec;
}
.sidebar-list li a {
  display: block;
  padding: 5px 10px;
  color: #00a50c;
  font-size: 16px;
  line-height: 2em;
}
ul#nav li a {
  line-height: 1.5em;
}
ul#articles li a {
  font-size: 12px;
  line-height: 1.5em;
}
.sidebar-list li a:hover {
  background: #dcdcdc;
}
#sidebar h2 {
  font-weight: normal;
  padding: 0 10px;
}

#post {
  margin-left: 5%;
  width: 60%;
}

.tagline {
  display: block;
  font-size: 32px;
  padding: 25px 0;
  margin-left: 5%;
  color: #00a50c;
}
.description {
  margin-left: 5%;
  font-size: 24px;
  line-height: 30px;
}

img.styled {
  padding: 5px;
  background: #fff;
  border: solid 1px #ddd;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

#toc {
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 250px;
    padding-top: 20px;
    color: #fff;
    z-index: 100;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}

/* easytabs */

#full-container {
  height: 415px;
}

#tab-console {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #71af5a;
  height: 6.5em;
}
.logged-event {
  display: block;
}

/* css-emoticons */

#css-emoticons-heading { font-size: 72px; }
#small { font-size: 8px; }
#large { font-size: 72px; }
#regular { font-size: 20px; }

/* jquery-rails-demo */

#jquery-rails-demo-heading { font-size: 62px; }
