th { background: #71af5a; color: #fff; }
br.clear { width: 100%; height: 0; clear: both; }

pre,
.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
pre {
  border-radius: 4px;
  overflow: auto;
  padding: 4px;
  background: #202020;
}
pre code {
  background: transparent;
  color: inherit;
  line-height: 1.3em;
}

pre::-webkit-scrollbar,
.highlight::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-track,
.highlight::-webkit-scrollbar-track {
  background-color: #333;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-corner,
.highlight::-webkit-scrollbar-corner {
  background: transparent;
}
pre::-webkit-scrollbar-thumb,
.highlight::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(156,217,107,0.7)), to(rgba(156,217,107,0.9)));
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

/* layout */

body {
  background: #ececec;
}

.contained {
  width: 1060px;
  margin: auto;
}

#headbar {
  width: 100%;
  height: 300px;
  background: url('/images/header_bg.png') no-repeat #000;
  border-bottom: solid 3px #00a50c;
}

#headbar h1 {
  padding: 110px 0 0 5%;
}
#headbar h1 a {
  display: block;
  text-decoration: none;
  font: 80px Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0px 1px #000, -6px 8px 5px rgba(0, 0, 0, 0.8);

}
#built-by {
  display: block;
  float: right;
  padding: 20px;
  margin-top: 60px;
  width: 400px;
  background: rgba(200,200,200,0.1);
  border: solid 1px #1e1e1e;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#built-by h3 {
  color: #000;
  text-shadow: 0px 1px 2px #333;
  font-size: 22px;
  margin-bottom: 35px;
  line-height: 1.5em;
}
#built-by h3 span {
  display: block;
  font-size: 36px;
}
a.nav-links {
  background: rgba(0,0,0,0.5);
  padding: 7px 10px;
  color: #00a50c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
a.nav-links:hover {
  background: rgba(0,0,0,0.3);
}
#visit-site {
  float: right;
}
#visit-os {
  float: left;
}
#aj-logo {
  float: left;
  margin-right: 10px;
}

#content {
  margin-top: 35px;
}

.projects li {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin: 0 3% 20px 0;
}
.project-tile {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.project-tile.js {
  border: solid 1px #1A6D9E;

  background: #34A0D2; /* fallback for non-supporting browsers */
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#2cb2f0), to(#2C8FC0), color-stop(250%, #329DCF), color-stop(500%, #2C8FC0)); /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #2cb2f0 0%, #329DCF 250%, #2C8FC0 500%); /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #2cb2f0 0%, #329DCF 250%, #2C8FC0 500%);
  background-image: -ms-radial-gradient(center center, circle contain, #2cb2f0 0%, #329DCF 250%, #2C8FC0 500%); /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #2cb2f0 0%, #329DCF 250%, #2C8FC0 500%); /* Opera (13?) */
  background-image: radial-gradient(center center, circle contain, #2cb2f0 0%, #329DCF 250%, #2C8FC0 500%); /* standard syntax */
}
.project-tile.ruby {
  border: solid 1px #FE8900;

  background: #FFC900;
  background-image: -webkit-gradient(radial, center center, 0, center center, 141, from(#FFD000), to(#FE9000), color-stop(250%, #FFC900), color-stop(500%, #FE9000)); /* old WebKit Syntax */
  background-image: -webkit-radial-gradient(center center, circle contain, #FFD000 0%, #FFC900 250%, #FE9000 700%); /* New WebKit syntax */
  background-image: -moz-radial-gradient(center center, circle contain, #FFD000 0%, #FFC900 250%, #FE9000 500%);
  background-image: -ms-radial-gradient(center center, circle contain, #FFD000 0%, #FFC900 250%, #FE9000 500%); /* IE10+ */
  background-image: -o-radial-gradient(center center, circle contain, #FFD000 0%, #FFC900 250%, #FE9000 500%); /* Opera (13?) */
  background-image: radial-gradient(center center, circle contain, #FFD000 0%, #FFC900 250%, #FE9000 500%); /* standard syntax */
}
.project-tile a {
  display: block;
  padding: 40px 15px;
  font-size: 24px;
  font-weight: bold;
}
.project-tile.js a, li.js .homepage-tagline {
  color: #1A6D9E;
}
.project-tile.ruby a, li.ruby .homepage-tagline {
  color: #FE8900;
}
.project-tile span {
  float: right;
  font-size: 40px;
  margin-top: 35px;
  margin-right: 15px;
  font-weight: bold;
}
.project-tile.js span {
  color: #298BBC;
}
.project-tile.ruby span {
  color: #FFB100;
}

.homepage-tagline {
  font-weight: bold;
  font-style: italic;
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}

#sidebar {
  float: right;
  width: 25%;
  margin-right: 5%;
}
#download-button {
  font-size: 34px;
  font-weight: bold;
  padding: 15px 25px;
  margin-bottom: 25px;
}
#sidebar .bar {
  background: #fff;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #ececec;
}
#sidebar ul li a {
  display: block;
  padding: 5px 10px;
  color: #00a50c;
  font-size: 16px;
  line-height: 2em;
}
ul#nav li a {
  line-height: 1.5em;
}
ul#articles li a {
  font-size: 12px;
  line-height: 1.5em;
}
#sidebar ul li a:hover {
  background: #dcdcdc;
}
#sidebar h2 {
  font-weight: normal;
  padding: 0 10px;
}

#post {
  margin-left: 5%;
  width: 60%;
}

.tagline {
  display: block;
  font-size: 40px;
  padding: 25px 0 45px;
}

/* easytabs */

#full-container {
  height: 375px;
}

#tab-console {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #71af5a;
  height: 5em;
}
.logged-event {
  display: block;
}

/* css-emoticons */

#small { font-size: 8px; }
#large { font-size: 72px; }
#regular { font-size: 20px; }
.wrapped { width: 350px; }
