th { background: #71af5a; color: #fff; }
br.clear { width: 100%; height: 0; clear: both; }

pre,
.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
pre {
  border-radius: 4px;
  overflow: auto;
  padding: 4px;
  background: #202020;
}
pre code {
  background: transparent;
  color: inherit;
  line-height: 1.3em;
}

pre::-webkit-scrollbar,
.highlight::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-track,
.highlight::-webkit-scrollbar-track {
  background-color: #333;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
pre::-webkit-scrollbar-corner,
.highlight::-webkit-scrollbar-corner {
  background: transparent;
}
pre::-webkit-scrollbar-thumb,
.highlight::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(156,217,107,0.7)), to(rgba(156,217,107,0.9)));
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

/* layout */

body {
  background: #ececec;
}

.contained {
  width: 1060px;
  margin: auto;
}

#headbar {
  width: 100%;
  height: 300px;
  background: url('/images/header_bg.png') no-repeat #000;
  border-bottom: solid 3px #00a50c;
}

#headbar h1 {
  padding: 100px 0 0 5%;
}
#headbar h1 a {
  display: block;
  text-decoration: none;
  font: 80px Helvetica, Arial, Sans-Serif;
  font-weight: bold;
  letter-spacing: -2px;
  color: #fff;
  text-shadow: 0 0px 1px #000, -6px 8px 5px rgba(0, 0, 0, 0.8);

}
#headbar h3 {
  display: block;
  float: right;
  color: #000;
  text-shadow: 0px 1px 2px #333;
  font-size: 32px;
  padding: 95px 5% 0 0;
  width: 300px;
}

#content {
  margin-top: 35px;
}

#sidebar {
  float: right;
  width: 25%;
  margin-right: 5%;
}
#download-button {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 25px;
}
#sidebar .bar {
  background: #fff;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #ececec;
}
#sidebar ul li a {
  display: block;
  padding: 5px 10px;
  color: #00a50c;
  font-size: 16px;
  line-height: 2em;
}
ul#nav li a {
  line-height: 1.5em;
}
ul#articles li a {
  font-size: 12px;
  line-height: 1.5em;
}
#sidebar ul li a:hover {
  background: #dcdcdc;
}
#sidebar h2 {
  font-weight: normal;
  padding: 0 10px;
}

#post {
  margin-left: 5%;
  width: 60%;
}

.tagline {
  display: block;
  font-size: 40px;
  padding: 25px 0 45px;
}

/* easytabs */

#full-container {
  height: 375px;
}

#tab-console {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #71af5a;
  height: 5em;
}
.logged-event {
  display: block;
}

/* css-emoticons */

#small { font-size: 8px; }
#large { font-size: 72px; }
#regular { font-size: 20px; }
.wrapped { width: 350px; }


