a {
  color: #00a290;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
#topbar {
  background: #2d2f31;
}
#right-nav {
  float: right;
  margin: 0 250px 0 0;
}
#right-nav li {
  display: inline-block;
  margin-left: -5px;
}
#right-nav a {
  display: block;
  padding: 15px 20px;
  border-right: solid 1px #38393a;
  margin: 0;
  line-height: 20px;
  color: #fff;
}
#right-nav a:hover {
  text-decoration: none;
  background: #38393a;
}
#right-nav li:first-child a {
  border-left: solid 1px #38393a;
}
#supported-by {
  line-height: 47px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}
#splashbar {
  overflow: hidden;
  width: 100%;
  background: #2c393e;
  color: #fff;
  padding: 25px 0;
  position: relative;
}
#plugin-graphic {
  width: 500px;
}
.splash-left,
.splash-right {
  float: left;
  position: relative;
  z-index: 5;
}
.splash-left {
  width: 40%;
}
.splash-right {
  width: 45%;
}
#share-container, .github-button {
  padding-top: 28px;
}
#share-container {
  margin-left: 5%;
}
#shareme .box {
  margin-left: 0;
}
#shareme .buttons {
  top: 17px;
}
#shareme .share {
  margin-left: 0;
}
#shareme .share span {
  font-size: 16px;
  color: #2c393e;
  margin-right: 10px;
  line-height: 25px;
}
#shareme .share img {
  height: 20px;
  vertical-align: middle;
  top: 0;
}
.github-button {
  margin-top: 15px;
}
#title,
#tagline,
#splashbar h2,
#description {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
#title {
  margin-top: 30px;
  font-size: 80px;
  color: #006a72;
  line-height: 1em;
  text-transform: uppercase;
}
#title span {
  color: #00a290;
}
#tagline {
  font-size: 30px;
}
#description {
  font-size: 18px;
  color: #6cc4bb;
}
#download .btn {
  margin: 0 15px 0 0;
}
#download-button,
.btn.primary {
  background: rgb(104,195,186); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4YzNiYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGEyOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(104,195,186,1) 0%, rgba(0,162,144,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,195,186,1)), color-stop(100%,rgba(0,162,144,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(104,195,186,1) 0%,rgba(0,162,144,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(104,195,186,1) 0%,rgba(0,162,144,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(104,195,186,1) 0%,rgba(0,162,144,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(104,195,186,1) 0%,rgba(0,162,144,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68c3ba', endColorstr='#00a290',GradientType=0 ); /* IE6-8 */
}
.mountain {
  background: #333f44;
  width: 200px;
  height: 200px;
  position: absolute;
  -moz-transform:rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform:rotate(45deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5);
  -ms-transform:rotate(45deg);
  bottom: 0;
  z-index: 1;
}
#tagbar {
  background: #00a290;
  height: 100px;
  position: relative;
  z-index: 5;
  border-top-color: #6cc4bb;
}
#download-count {
  float: right;
  margin-right: 250px;
  font-size: 80px;
  color: #fff;
  line-height: 1.3em;
}
#download-count span {
  font-size: 36px;
  color: #6cc4bb;
}

#toc .toc-active {
  background: #006a72;
  border-color: #006a72;
}

th {
  background: #006a72;
}

.side-by-side {
  width: 49%;
  float: left;
}
.side-by-side.left { 
  margin-right: 2%;
}
