<script type='text/javascript'>
  var domain = location,
      url = location.host == 'os.alfajango.com' ? 'http://s3.alfajango.com/os-projects-downloads.json' : '/output.json',
      ready = new $.Deferred,
      resultJSON,
      setJSON = function(data) {
        resultJSON = data;
      },
      requestJSON = $.ajax(url, {dataType: 'jsonp', jsonp: false, jsonpCallback: 'setJSON'});

  function addCommas(nStr) {
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) {
      x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
  }

  $.when(requestJSON, ready).then(function() {
    $.each( ['rubygems', 'github', 'jspkg'], function(i, service) {
      $('[data-' + service + ']').each( function() {
        var $this = $(this),
            project = $this.data(service),
            number, label;

        switch (service) {
          case 'rubygems':
            number = 'total_downloads';
            label = 'downloads';
            break;
          case 'github':
            number = 'watchers';
            label = 'watchers';
            break;
          case 'jspkg':
            number = 'total_downloads';
            label = 'downloads';
        };

        $this
          .tooltip({
            title: addCommas(resultJSON[project][service][number]) + ' ' + label,
            placement: 'left',
            trigger: 'manual'
          })
          .tooltip('show');
      });
    });

  });

  $(window).load( function() {
    ready.resolve();
  });
</script>
