<div id='headbar'>
  <div class='contained'>
    <div id='built-by'>
      <img src='/images/aj_logo.png' id='aj-logo' />
      <h3>built and supported by <span>Alfa Jango</span></h3>
      <br class='clear' />
      <a class='nav-links' id='visit-site' href="http://www.alfajango.com"><span>visit </span>alfajango.com<span> &raquo;</span></a>
      <a class='nav-links' id='visit-os' href="/"><span>&laquo; </span>view all open source<span> projects</span></a>
    </div>
    <div id='title-and-share'>
      <h1>{{ page.heading }}</h1>
      <div id='share-container'>
        <div id="shareme" data-url="http://os.alfajango.com{{ page.url }}" data-text="{{ page.title }}" data-title="share this page <img src='/images/share-buttons.png' />"></div>
      </div>
    </div>
  </div>
  <br class='clear' />
</div>
<div id='tagbar' {% if page.url == '/index.html' %} class='homepage' {% endif %}>
  <div class='contained'>
    {% if page.tagline %}
      <span class="tagline">{{ page.tagline }}</span>
    {% endif %}
    {% if page.second_heading %}
      <h2>{{ page.second_heading }}</h2>
    {% endif %}
    {% if page.description %}
      <p class="description">{{ page.description }}</p>
    {% endif %}
  </div>
  <div id="download-and-share-placeholder">
    <div id="download-and-share-container">
      <div class='contained'>
        <div id="download-and-share">
          {% if page.download %}
          <a class='btn success large-button' id='download-button' href='{{ page.download.href }}'><img src='/images/wooden-box.png' /> {{page.download.title}}</a>
          {% endif %}
          {% if page.github %}
          <a class='btn large-button' id='github-button' href='{{ page.github.href }}'><img src='/images/github-icon.png' /> {{page.github.title}}</a>
          {% endif %}
          {% if page.twitter %}
          <a id="twitter-button" href="https://twitter.com/{{ page.twitter.user }}" class="twitter-follow-button" data-show-count="false" data-size="large">{{ twitter.title }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
