<script type='text/javascript'>
  $(document).ready( function() {
    $('#shareme').sharrre({
      share: {
        twitter: true,
        facebook: true,
        linkedin: true,
        googlePlus: true
      },
      urlCurl: '',
      enableTracking: true,
      buttons: {
        twitter: {count: 'vertical', via: 'alfajango'},
        facebook: {layout: 'box_count'},
        linkedin: {counter: 'top'},
        googlePlus: {size: 'tall'}
      },
      hover: function(api, options){
        $(api.element).find('.buttons').show();
      },
      hide: function(api, options){
        $(api.element).find('.buttons').hide();
      },
      render: function() {
        var $count = $('#shareme .count'),
            count = parseFloat($count.text());

        if (count < 10) {
          $count.hide();
          $('#shareme .share').width('200');
        }
      }
    });
  });
</script>
