<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="/css/reset.css" />
    <link rel="stylesheet" media="all" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="/css/application.css" />
    <link rel="stylesheet" media="all" href="/css/share.css" />
    <script type='text/javascript' src='/js/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='/js/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='/js/jquery.nav.min.js'></script>
    <script type='text/javascript' src='/js/jquery.sharrre-1.2.0.min.js'></script>
    <script type='text/javascript' src='/js/jquery.xdomainajax.js'></script>
    {% include get_downloads.html %}
    {% include analytics.html %}
    {% include share.html %}
  </head>
  <body id='homepage'>
    {% include headbar.html %}
    <div id='content' class='contained'>
      {{ content }}
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
