<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="/css/reset.css" />
    <link rel="stylesheet" media="all" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="/css/application.css" />
    <link rel="stylesheet" media="all" href="/css/pygments.css" />
    <script type='text/javascript' src='/js/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='/js/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='/js/jquery.nav.min.js'></script>


    <!-- resources for project demos //-->
    {% for css in page.stylesheets %}
    <link rel="stylesheet" media="all" href="/css/{{ css }}" />
    {% endfor %}
    {% for js in page.javascripts %}
    <script type='text/javascript' src='/js/{{ js }}'></script>
    {% endfor %}

    <script>
      $(document).ready( function() {
        $('#nav').onePageNav({
          currentClass: 'current',
          changeHash: true,
          scrollSpeed: 750,
          scrollOffset: 30,
          begin: function() {
          },
          end: function() {
          }
        });
      });
    </script>
  </head>
  <body>
    <div id='headbar'>
      <div class='contained'>
        <h3>built and supported by Alfa Jango</h3>
        <h1><a href="#">{{ page.heading }}</a></h1>
      </div>
    </div>
    <div id='content' class='contained'>
      <div id='sidebar'>
        <a class='btn success' id='download-button' href='{{ page.download.href }}'><img src='/images/wooden-box.png' /> {{page.download.title}}</a>
        <div class='bar'>
          <ul id='resources'>
            {% for link in page.links %}
            <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>

          <ul id='nav'>
            <h2>Contents</h2>
            {% for anchor in page.anchors %}
            <li><a href="{{ anchor.href }}">{{ anchor.title }}</a></li>
            {% endfor %}
          </ul>

          <ul id='articles'>
            <h2>Related Articles</h2>
            {% for article in page.articles %}
            <li><a href="{{ article.href }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div id='post'>
        {{ content }}
      </div>
    </div>
  </body>
</html>
