<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" media="all" href="/css/reset.css" />
    <link rel="stylesheet" media="all" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" href="/css/application.css" />
    <link rel="stylesheet" media="all" href="/css/pygments.css" />
    <link rel="stylesheet" media="all" href="/css/share.css" />
    <script type='text/javascript' src='/js/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='/js/jquery.scrollTo.js'></script>
    <script type='text/javascript' src='/js/jquery.nav.min.js'></script>
    <script type='text/javascript' src='/js/jquery.toc.min.js'></script>
    <script type='text/javascript' src='/js/jquery.sharrre-1.2.0.min.js'></script>
    <script type='text/javascript' src='/js/jquery.scrollorama.js'></script>


    <!-- resources for project demos //-->
    {% for css in page.stylesheets %}
    <link rel="stylesheet" media="all" href="/css/{{ css }}" />
    {% endfor %}
    {% for js in page.javascripts %}
    <script type='text/javascript' src='/js/{{ js }}'></script>
    {% endfor %}

    <script>
      var $toc,
          $tagbar,
          $content,
          tocWidth,
          tocTop,
          tagbarHeight,
          tagbarTop,
          contentTop,
          scrollRatio;

      $(document).ready( function() {
        $toc = $('#toc-container'),
        $tagbar = $('#tagbar'),
        $content = $('#content'),
        tocWidth = $toc.outerWidth(),
        tocTop = $toc.offset().top,
        tagbarHeight = $tagbar.outerHeight(),
        tagbarTop = $tagbar.offset().top,
        contentTop = $content.offset().top,
        scrollRatio = tocWidth / tagbarHeight;

        $('#nav').onePageNav({
          currentClass: 'current',
          changeHash: true,
          scrollSpeed: 750,
          scrollOffset: 30,
          begin: function() {
          },
          end: function() {
          }
        });
        $('#toc').toc({
          selectors: '#post > h2, #post > h3',
          anchorName: function(i, heading, prefix) {
            return $(heading).text().replace(/^\s+|\s+$/g, "").replace(/\s+/g, "-").replace(/([A-Z])/g, function($1){return $1.toLowerCase();});
          }
        });
      });


      $(window).scroll(function(e){
        var scrollTop = $(this).scrollTop();
        if (scrollTop > tocTop && $toc.css('position') != 'fixed'){
          $toc.css({'position': 'fixed', 'top': '0px'});
        }
        if (scrollTop < contentTop && $toc.css('position') != 'absolute'){
          $toc.css({'position': 'absolute', 'top': 'auto'});
        }
        if (scrollTop > tagbarTop) {
          var leftOffset = tocWidth - (scrollTop - tagbarTop) * scrollRatio;
          if (scrollTop < (tagbarTop + tagbarHeight)) {
            $toc.offset({'left': -(leftOffset)});
          } else if ($toc.offset().left < 0) {
            $toc.offset({'left': 0});
          }
        } else if (scrollTop < tagbarTop) {
          $toc.offset({'left': -tocWidth});
        }
      });
    </script>
    {% include analytics.html %}
    {% include share.html %}
  </head>
  <body>
    {% include headbar.html %}
    <div id='content' class='contained'>
      <div id='sidebar'>

        {% if page.links %}
          <ul class='sidebar-list' id='resources'>
            {% for link in page.links %}
            <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if page.anchors || page.articles %}
        <div class='bar'>
          {% if page.articles %}
          <ul class='sidebar-list' id='articles'>
            <h2>Related Articles</h2>
            {% for article in page.articles %}
            <li><a href="{{ article.href }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endif %}
      </div>

      <div id='toc-container'>
        <div id='toc'>
        </div>
      </div>

      <div id='post'>
        {{ content }}
      </div>
    </div>
  </body>
</html>
